/AssignmentController.class
/AttemptController.class
/AuthController.class
/CourseController.class
/GradingController.class
/PaymentController.class
/QuizController.class
/ReportController.class
/ResultsController.class
